$rust: #e06943;
$brown: #482d2d;
$white: #f1f1f1;
$black: #1b1b1b;
$shadow: rgba(27, 27, 27, 0.536);

$theme-colors: (
  "primary": $rust,
  "secondary": $white,
);

@font-face {
  font-family: DMserif;
  src: url(../public/DM_Serif_Display/DMSerifDisplay-Regular.ttf);
}

body {
  font-family: Helvetica, sans-serif;
  color: $black;
  background-color: white !important;
  overflow-x: hidden;
}

h1 {
  font-family: DMserif, serif;
  font-size: 36px !important;
  color: $white;
  text-align: center;
}

// h2 {
//   font-size: 20px !important;
// }

h3 {
  font-size: 24px !important;
  font-weight: bold !important;
}

h4 {
  font-size: 16px !important;
  font-weight: bold !important;
  margin: 0 !important;
}

p {
  font-size: 16px !important;
  margin-bottom: 0 !important;
}

.p1 {
  font-weight: bold !important;
}

a {
  color: inherit !important;
  text-decoration: none !important;
  display: inline-block;
  width: 100%;
}

dt {
  font-weight: 400 !important;
}

.button {
  width: 350px !important;
  height: 50px !important;
  border-radius: 20px !important;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.2);
  font-weight: bold !important;
}

.primary-button {
  color: $white !important;
}

.primary-button:hover {
  background-color: #cb5a36 !important;
}

.secondary-button:hover {
  background-color: #eeeeee !important;
}

.secondary-button {
  background-color: white !important;
  color: $rust !important;
  border: 1px solid $rust !important;
}

.button-nav {
  width: 149px !important;
  height: 43px !important;
  border-radius: 20px !important;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.2);
  font-weight: bold !important;
}

.secondary-button-nav:hover {
  background-color: #eeeeee !important;
}

.secondary-button-nav {
  background-color: #ffffff !important;
  color: $rust !important;
  border: 1px solid $rust !important;
}

.main-divs {
  padding: 16px;
}

.Bootstrap-icons {
  width: 43px;
  height: 36px;
  color: #575757;
  margin-right: 24px;
  cursor: pointer;
}

.Bootstrap-star {
  width: 36px;
  height: 36px;
  position: absolute;
  color: $white !important;
  right: 20px;
  top: 20px;
  cursor: pointer;
}

.Bootstrap-black-star {
  margin-right: 10px;
}

.Bootstrap-clock {
  margin-right: 18px !important;
}

.HomeView-desktop-button {
  display: none;
}

.EventCard-div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 10px;
  width: 129px;
  height: 185px;
  margin-right: 16px;
}

.EventCard-description > h3,
p {
  text-align: left;
  margin-bottom: 0;
}

.EventCard-image-div {
  filter: drop-shadow(0px 4px 5px rgba(0, 0, 0, 0.2));
  width: 129px;
  height: 110px;
  border-radius: 20px;
  position: relative;
  transition: 0.2s ease-in;
}

.EventCard-image-wrapper {
  overflow: hidden;
  border-radius: inherit;
  width: 100%;
  height: 100%;
}

.EventCard-gratis-div {
  background-color: $black;
  color: $white;
  padding: 4px 10px;
  border-radius: 10px 0 20px 0;
  position: absolute;
  bottom: 0;
  right: 0;
}

.EventCard-gratis-div > p {
  margin: 0;
  font-size: 14px;
}

.EventCard-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.BigEventCard-div {
  width: 171px;
  height: 205px;
  margin: 0;
}

.BigEventCard-image-div {
  width: 100%;
  height: 146px;
}

.SearchField-icon {
  position: absolute;
  left: 15px;
}

.EventView-grey-p {
  color: #525252 !important;
}

.Profile-star-div {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

@media (min-width: 800px) {
  .EventCard-image-div:hover {
    filter: drop-shadow(3px 5px 10px rgba(0, 0, 0, 0.25));
    background: rgba(0, 0, 0, 0.1);
  }

  .EventCard-image-div::after {
    content: "";
    position: absolute;
    border-radius: 20px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    transition: background-color 0.4s ease-in-out;
  }

  .EventCard-image-div:hover::after {
    background-color: #1b1b1b2b;
  }
}

@media (min-width: 900px) {
  .HomeView-desktop-button {
    display: flex;
    justify-content: center;
  }

  .Bootstrap-star {
    top: 30px;
    right: 30px;
  }
}

@media (min-width: 1000px) {
  h1 {
    font-size: 72px !important;
  }

  h2 {
    font-size: 48px !important;
  }

  h3 {
    font-size: 32px !important;
  }

  h4 {
    font-size: 20px !important;
  }

  .EventCard-div,
  .BigEventCard-div {
    position: relative;
    gap: 10px;
    width: 285px;
    height: 310px;
    margin-right: 3.5%;
  }

  .EventCard-image-div {
    height: 243px;
    width: 285px;
  }

  .main-divs {
    padding: 48px;
  }
}

@import "~bootstrap/scss/bootstrap";
